{% extends 'base.html' %}

{% block title %} Chat - {{sender_name}} {% endblock %}

{% block navbar %}
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/chat-list/">Chat List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/global-chat/">Global Chat</a>
              </li>
{% endblock %}

{% block body %}
    <div class="col-8 mx-auto card mt-3 mb-3 shadow-lg border-primary">
        <div data-bs-scroll="true" class="overflow-auto" id="chatcontent" style="height:65vh">
            {% for message in all_messages %}
                {% if message.from_user != request.user %}
                    <div class="alert alert-light col-11 mx-auto mt-4 border-primary bg-secondary-subtle" role="alert">
                        <span style="color:green;">{{message.message}}</span>
                    </div>
                {% else %}
                    <div class="alert alert-light col-11 mx-auto mt-4 border-primary bg-secondary-subtle" role="alert">
                        <span style="color:blue;">{{message.message}}</span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>


        <form id="message_form" class="p-3" method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
              <input type="text" name="user_message" class="form-control input-primary mt-2 border-primary bg-light" placeholder="Message" aria-describedby="button-addon2">
              <button class="btn btn-outline-primary mt-2 bg-secondary-subtle" type="submit">Send</button>
            </div>
        </form>
    </div>


    <script type="text/javascript">
        function scrollToBottom() {
          var chatContent = document.getElementById("chatcontent");
          chatContent.scrollTop = chatContent.scrollHeight;
        }

        scrollToBottom();
        let user_name = "{{ user }}";
        const socket = new WebSocket('ws://127.0.0.1:8000/chat/{{ sender_name }}');
        socket.onopen = function(event) {
            console.log('WebSocket connection opened.');
        };
        socket.onmessage = function(event) {
            let data = JSON.parse(event.data);
            if(data.type==='list_update'){
                let color = "green";
                if(data.from === user_name){color="blue"}
                $('#chatcontent').append(`<div class="alert alert-light col-11 mx-auto mt-4 border-primary bg-secondary-subtle" role="alert">
                                        <span style="color:${color};">${data.message}</span>
                                    </div>`);
                scrollToBottom();
            }
            else{
                console.log('Received message:', event.data);
            }
        };
        socket.onclose = function(event) {
            console.log('WebSocket connection closed.');
        };
        socket.onerror = function(error) {
            console.error('WebSocket error:', error);
        };

        let form = document.getElementById("message_form");
        form.addEventListener("submit", (e)=>{
            e.preventDefault();
            let message = e.target.user_message.value;
            socket.send(JSON.stringify({'message':message}));
            form.reset();
        })
    </script>

{% endblock %}
